.table-tracks {
  width: 100%;

  &.collapsed {
    margin-top: 350px;
  }
}

.table-header {
  width: 100%;
  margin-bottom: 0;
  &.collapsed {
    top: 60px;
    position: fixed;
  }

}

@media (max-width: 768px) {
  .table-tracks {
    width: 100%;

    &.collapsed {
      margin-top: 240px;
    }
  }

  .table-header {

    &.collapsed {
      top: 100px;
    }

  }
}
