<div *ngIf="playlist; else loadingOrError"
    appInfiniteScroller 
    scrollPerecnt="80"
    immediateCallback="true" 
    useRootDocumentScroll="true"
    [scrollCallback]="scrollCallback"
>
    <app-details-header [playlist]="playlist"></app-details-header>

    <app-track-display [tracksFromParent]="tracks"></app-track-display>
</div>

<div class="container">
    <ng-template #loadingOrError>
        <ng-container *ngIf="error; else loading">
            {{ error }}
        </ng-container>
        <ng-template #loading>
            <div class="loading"></div>
        </ng-template>
    </ng-template>
</div>