.collapse-toolbar {
  width: 100%;
  height: 300px;

  .columns{
    margin: 0;
  }

  .toolbar-image{
    width: 300px;
    img{
      width: 300px;
    }
  }

  .toolbar-text{
    align-items: center;
    display: flex;
  }
  &.collapsed {
    position: fixed;
    top: 0;
    text-align: left;
    height: 60px;

    .toolbar-image{
      width: 60px;
      img{
        width: 60px;
      }
    }

  }
}

@media (max-width: 768px) {
  .collapse-toolbar {
    text-align: center;
    .toolbar-image{
      width: 100%;
      img{
        width:150px;
      }
    }

    &.collapsed {
      height: 100px;

      .title {
        font-size: 0.8rem;
      }

      img {
        display: none;
      }
    }
  }
}
